@font-face {
    font-family: "suprema-reg";
    src: url(../suprema/Suprema\ Regular.ttf);
}

html, body{
    margin: 0;
    font-family: "suprema-reg";
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f1f1f;
}

.image-background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 2200px;
    object-fit: cover;
    object-position: 0 -800px;
    justify-content: start;
}

.logo-vogue-head{
    margin: 100px auto;
    width: 180px;
    z-index: 2;
}

.container-un{
    height:100%;
    width: 100%;
    margin: auto;
    padding: 100px, 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.bloc-action{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 80%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 95%);
    z-index: 1;
}

.bloc-action-container{
    margin: auto;
    width: 80%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloc-action-container h2{
    margin: auto;
    width: 90%;
    justify-content: center;
    text-align: center;
    font-size: 75px;
}

.bloc-action p{
    margin: 50px auto;
    width: 90%;
    text-align: center;
}

.bloc-boutons{
    margin: auto;
    padding: 10px;
}

.bloc-boutons button{
    font-size: 20px;
    color: white;
    padding: 20px;
    stroke: 0px;
    border: 0;
    border-radius: 40px;
    background-color: #1f1f1f;
}
.bloc-boutons button:hover{
    background-color: #565656;
}

.bloc-boutons a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}


/* ----------- Bloc deux */


.bloc-action-deux{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 80%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 95%);
    z-index: 1;
}

.bloc-action-deux-container{
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bloc-action-deux-titre{
    width: 100%;
    justify-content: start;
}

.bloc-action-deux-titre h3{
    text-align: start;
    font-size: 45px;
}


.bloc-action-deux-interieur{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.partie-gauche{
    width: 50%;
}

.partie-droite{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-vogue{
    width: 400px;
}

.bulle-un{
    width: 80px;
    top: 120%;
    left: 65%;
    opacity: 60%;
    position: absolute;
}

.bulle-deux{
    width: 150px;
    top: 175%;
    left: 65%;
    opacity: 60%;
    position: absolute;
}

.bulle-trois{
    width: 250px;
    top: 1000px;
    right: 260px;
    opacity: 60%;
    position: absolute;
}

/* ----------Responsive */

@media screen and (max-width: 900px){
    .bloc-action-container h2{
        font-size: 40px;
    }

    .bloc-action-deux-titre h3{
        text-align: center;
        font-size: 35px;
    }

    .bloc-action-deux-interieur{
        flex-direction: column;
    }

    .partie-gauche{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .bulle-un{
        width: 80px;
        top: 120%;
        left: 65%;
        opacity: 60%;
        position: absolute;
    }
    
    .bulle-deux{
        width: 150px;
        top: 175%;
        left: 65%;
        opacity: 60%;
        position: absolute;
    }
    
    .bulle-trois{
        width: 250px;
        top: 1000px;
        right: 260px;
        opacity: 60%;
        position: absolute;
    }
}

/* Page choix du background */

.page-choix-background{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bloc-choix-background{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto ;
    height: 70%;
    width: 70%;
    padding: 50px;
    border-radius: 30px;
}

.bloc-choix-background h1{
    color: white;
}

.container-choix-background{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloc-rendu{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}

#couleur-rendu{
    position: absolute;
    height: 500px;
    width: 350px;
}

#titre-rendu{
    margin: auto;
    position: relative;
    text-align: center;
    word-break: break-word;
    color: rgb(208, 208, 208);
    text-transform:initial;
    top: 60%;
    width: 100%;
    z-index: 200;
}


#background-rendu{
    height: 500px;
    width: 350px;
    background-color: rgb(0, 0, 0);
}

.bloc-rendu img{
    position: absolute;
    height: 500px;
    width: 350px;
    object-fit: cover;
}

#background-un{
    visibility: visible;
}

#background-deux{
    visibility: hidden;
}

#background-trois{
    visibility: hidden;
}

#background-quatre{
    visibility: hidden;
}

#asset-un{
    visibility: visible;
}

#asset-deux{
    visibility: hidden;
}

#asset-trois{
    visibility: hidden;
}

#asset-quatre{
    visibility: hidden;
}

.partie-droite{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.partie-droite h3{
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    text-align: start;
}

.fond-bloc{
    width: 100%;
    margin-bottom: 20px;
}

.assets-render{
    width: 100%;
    margin-bottom: 20px;
}

.fond-choix{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.couleur-bloc{
    width: 100%;
    margin-bottom: 40px;
}

.couleur-bloc input{
    height: 60px;
    width: 60px;
    outline: none;
    border: none;
}

.texte-bloc{
    width: 100%;
}

#entre-texte{
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 20px;
    font-family: "suprema-reg";
    border: none;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.container-typo{
    padding: 40px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

#typo-arial{
    font-family: Arial, Helvetica, sans-serif;
}



#sans-fond{
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#choix-un{
    height: 50px;
    width: 50px;
    background-image: url(../assets/bg-aurore-boreale.jpg);
    background-size: cover;
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#choix-deux{
    height: 50px;
    width: 50px;
    background-image: url(../assets/bg-bulles.jpg);
    background-size: cover;
    border: 0px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#choix-trois{
    height: 50px;
    width: 50px;
    background-image: url(../assets/bg-peinture.jpg);
    background-size: cover;
    border: 0px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#choix-quatre{
    height: 50px;
    width: 50px;
    background-image: url(../assets/bg-softmix.jpg);
    background-size: cover;
    border-radius: 40px;
    border: 0px solid black;
    cursor: pointer;
}




#sans-el{
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#el-un{
    height: 50px;
    width: 50px;
    background-image: url(../assets/diablotin.png);
    background-size: cover;
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#el-deux{
    height: 50px;
    width: 50px;
    background-image: url(../assets/fleur.png);
    background-size: cover;
    border: 0px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#el-trois{
    height: 50px;
    width: 50px;
    background-image: url(../assets/ressort-poilu.png);
    background-size: cover;
    border: 0px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#el-quatre{
    height: 50px;
    width: 50px;
    background-image: url(../assets/microbes-mignons.png);
    background-size: cover;
    border-radius: 40px;
    border: 0px solid black;
    cursor: pointer;
}