@font-face {
    font-family: "suprema-reg";
    src: url(../suprema/Suprema\ Regular.ttf);
}

html, body{
    margin: 0;
    font-family: "suprema-reg";
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.image-background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 2000px;
    object-fit: cover;
    object-position: 0 -800px;
    justify-content: start;
}

.logo-vogue-head{
    margin: 5px auto;
    width: 180px;
    z-index: 2;
}

.bloc-gradient{
    position: absolute;
    top: 100vh;
    height: 1000px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0), black);
}
.container-un{
    height:100%;
    width: 100%;
    margin: 100px auto;
    padding: 100px, 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}


.bloc-action{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 80%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 95%);
    z-index: 1;
}

.bloc-action h2{
    width: 60%;
    text-align: center;
    font-size: 75px;
}

.bloc-action p{
    text-align: center;
    width: 60%;
}

.bloc-boutons{
    margin: auto;
    padding: 10px;
}

.bloc-boutons button{
    font-size: 20px;
    color: white;
    padding: 20px;
    stroke: 0px;
    border: 0;
    border-radius: 40px;
    background-color: #1f1f1f;
}

.bloc-action-deux{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 80%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 95%);
    z-index: 1;
}

.bloc-action-deux-container{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bloc-action-deux-titre{
    width: 80%;
    justify-content: start;
    text-align: start;
    font-size: 45px;
}

.bloc-action-deux-titre h3{
    text-align: start;
    font-size: 45px;
}


.bloc-action-deux-interieur{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.partie-gauche{
    width: 50%;
}

.partie-droite{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-vogue{
    height: 100%;
    width: 100%;
}

.bulle-un{
    width: 80px;
    top: 120%;
    left: 65%;
    opacity: 60%;
    position: absolute;
}

.bulle-deux{
    width: 150px;
    top: 175%;
    left: 65%;
    opacity: 60%;
    position: absolute;
}

.bulle-trois{
    width: 250px;
    top: 116%;
    left: 77%;
    opacity: 60%;
    position: absolute;
}