@font-face {
    font-family: "suprema-reg";
    src: url(../suprema/Suprema\ Regular.ttf);
}

html, body{
    margin: 0;
    font-family: "suprema-reg";
    font-size: 20px;
    justify-content: center;
}

.container-main{
    position: absolute;
    margin: auto;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/image_background.png);
    z-index: 0;
}

.container-main img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bloc-action{
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 70%;
    border-radius: 30px;

    background-color: rgba(255, 255, 255, 95%);
    z-index: 1;
}

.bloc-action h1{
    text-align: center;
    font-size: 75px;
}

.bloc-action p{
    text-align: center;
}

.bloc-boutons{
    margin: auto;
    padding: 10px;
}

.bloc-boutons button{
    font-size: 20px;
    color: white;
    padding: 20px;
    stroke: 0px;
    border: 0;
    border-radius: 40px;
    background-color: #1f1f1f;
}

/* .container-main-deux{
    position: absolute;
    top: 500px;
    margin: auto;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/image_background.png);
    z-index: 1;
} */