@font-face {
    font-family: "suprema-reg";
    src: url(../suprema/Suprema\ Regular.ttf);
}

html, body{
    margin: 0;
    font-family: "suprema-reg";
    justify-content: center;
    background-color: black;
    background-image: url(../assets/fond-d-ecran-motif.jpg);
    background-attachment: fixed;
}

/* Header de la page */
header{
    width: 100%;
    margin: auto;
    border-bottom: 0.5px solid white;
}

nav{
    width: 90%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom: 50px;
    border-color: white;
}

.logo-header img{
    height: 40px;
}

.titre-page{
    width: 80%;
    justify-content: center;
    text-transform: uppercase;
}
.titre-page h1{
    margin-left: auto;
    color: white;
    font-size: 40px;
    text-align: center;
}


/* Contenu de la page */
.container-main{
    position: absolute;
    top: 25%;
    left: 10%; right: 10%;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;

}

.container-main img{
    padding: 20px;
    height: 200px;
    margin: auto;
    justify-content: center;
    display: flex;
}

.container-main p{
    width: 70%;
    margin: 50px auto;
    font-size: 20px;
    color: white;
    text-align: center;
    opacity: 30%;
}

/* boutons d'action de la page d'intro */
.container-button-un{
    visibility: visible;
    left: 10%;
    right: 10%;
    top: 75%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.button-un{
    cursor: pointer;
    font-family: "suprema-reg";
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 0;
    background-color: rgb(255, 255, 255);
}

.button-un:hover{
    background-color: rgb(204, 204, 204);
}

.container-button-deux{
    visibility: hidden;
    left: 80%;
    right: 5%;
    top: 45%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.button-deux{
    cursor: pointer;
    font-family: "suprema-reg";
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 0;
    background-color: rgb(255, 255, 255);
}

.button-deux:hover{
    background-color: rgb(204, 204, 204);
}

.container-button-trois{
    visibility: hidden;
    left: 2%;
    right: 75%;
    top: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.button-trois{
    cursor: pointer;
    font-family: "suprema-reg";
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 0;
    background-color: rgb(255, 255, 255);
}

.button-trois:hover{
    background-color: rgb(204, 204, 204);
}

.container-button-quatre{
    visibility: hidden;
    left: 10%;
    right: 10%;
    top: 75%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.button-quatre{
    cursor: pointer;
    font-family: "suprema-reg";
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 0;
    background-color: rgb(255, 255, 255);
}

.button-quatre:hover{
    background-color: rgb(204, 204, 204);
}